@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

.home { 
    background-color: var(--purple-bg);
    border-bottom: 6px solid var(--green);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 64px 0;

    color: var(--white);
    font-weight: bold;
}

#header-menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 32px;
}

#header-menu li #selected {
    border-left: 3px solid var(--green);
    padding-left: 3px;
}

#header-menu a {    
    display: block;
    text-decoration: none;
    color: var(--white);
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}

#header-menu a:hover {
    color: var(--green);
}

#search {
    display: flex;
    align-items: center;
}

header #search-text-area {
    width: 230px;
    height: 44px;

    outline: none;
    border: none;
    padding: 5px 20px;
    background-color: var(--dark-bg);
    color: var(--white);
}

header #search-text-area::-webkit-input-placeholder {
    color: var(--light-purple);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

header #search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 44px;

    border: none;
    background-color: var(--button-bg);
}

header #search-button:hover {
    cursor: pointer;
}


#home-post {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 64px;
}

#home-text {
    color: var(--light-purple);
}

#home-text h1 {
    color: var(--button-bg);
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    padding-right: 80px;
    padding-bottom: 20px;
}

#home-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-right: 100px;
    padding-bottom: 20px;
}

#home-text #more-about-link {
    display: flex;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    color: var(--button-bg);

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

#home-image {
    width: 570px;
}